<footer id="footer">
    <div class="bottom small-footer gray-area">
        <div class="container">
            <div class="logo pull-left">
                <a href="/" title="${title!"OHMYGUIDE! Indonesia"}">
                    <img src="/images/logo.png" alt="${title!"OHMYGUIDE! Indonesia"}" />
                </a>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright center-component">
                <p>&copy; ${tahun!""} ${title!"OHMYGUIDE! Indonesia"}</p>
            </div>
        </div>
    </div>
</footer>