<footer id="footer">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h2>${(footerWideSekilasTitle)!""}</h2>
                    <p>${(footerWideSekilasContent)!""} <a href="/info/about-us" class="s-title">${(footerWideSekilasSelengkapnya)!""}</a></p>
                    <br />
                    <address class="contact-details">
                        <span class="contact-phone"><i class="soap-icon-phone"></i> 0812-9020-7740</span>
                        <br />
                        <a href="#" class="contact-email">hai@ohmyguide.id</a>
                    </address>
                    <ul class="social-icons clearfix">
                        <li class="twitter"><a title="twitter" href="https://twitter.com/ohmyguide_id" target="_blank" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                        <li class="facebook"><a title="facebook" href="http://fb.me/ohmyguide.id" target="_blank" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>${(footerWideSubscribeTitle)!""}</h2>
                    <p>${(footerWideSubscriptionContent1)!""}</p>
                    <br />
                    <div class="icon-check">
                        <input type="text" class="input-text full-width" placeholder="${(commonPlaceholderEmail)!""}" />
                    </div>
                    <br />
                    <span>${(footerWideSubscriptionContent2)!""}</span>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h2>${(footerWideTopicTitle)!""}</h2>
                    <ul class="discover triangle hover row">
                        <li class="col-xs-6"><a href="/">${(footerWideTopicTips)!""}</a></li>
                        <li class="col-xs-6"><a href="">${(footerWideTopicSec)!""}</a></li>
                        <li class="col-xs-6"><a href="/">${(footerWideTopicSiteMap)!""}</a></li>
                        <li class="col-xs-6"><a href="/info/about-us">${(footerWideTopicAbout)!""}</a></li>
                        <li class="col-xs-6"><a href="/info/contact-us">${(footerWideTopicContact)!""}</a></li>
                        <li class="col-xs-6"><a href="/">${(footerWideTopicPolicy)!""}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom gray-area">
        <div class="container">
            <div class="logo pull-left">
                <a href="/" title="Home - Ohmyguide Indonesia">
                    <img src="/images/logo.png" alt="Logo Ohmyguide Indonesia" />
                </a>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright center-component">
                <p><a href=""><img id="comodo-seal" src="https://www.ohmyguide.id/images/comodo_secure.png"/></a> &copy; ${tahun!""} ${title!"OHMYGUIDE! Indonesia"}</p>
            </div>
        </div>
    </div>
</footer>