<a href="#popup-notif-confirmation-pendaftaran" id="popupbox-notif-confirmation-pendaftaran" class="soap-popupbox"></a>

<div id="popup-notif-confirmation-pendaftaran" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="confirmation-message-pendaftaran" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-pendaftaran-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>

