<div id="travelo-signup" class="travelo-signup-box travelo-box">
    <div class="login-social">
        <div class="login-error center-component">
            <span class="center-component">
                Silahkan Login Atau Mendaftar
                <br>
                Untuk Mengakses Semua Fitur
            </span>
      </div>
    </div>
    <div class="seperator"></div>
    <div class="simple-signup">
        <div class="text-center signup-email-section">
            <a href="#" class="signup-email"><i class="soap-icon-letter"></i>Daftar menggunakan Email</a>
        </div>
        <p class="description">Dengan mendaftar di web ini, berarti kamu setuju dengan <a href="">SYARAT dan KETENTUAN</a> kami</p>
    </div>
    <div class="email-signup">
        <form id="formPendaftaran">
            <div class="form-group">
                <input type="text" id="username" name="username" class="input-text full-width" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="text" id="email" name="email" class="input-text full-width" placeholder="Alamat Email">
            </div>
            <label>Daftar Sebagai:</label>
            <div class="form-group">
                <div class="selector">
                    <select id="account-type" name="roleUser" >
                        <option value="1">Guide</option>
                        <option value="2">Traveler</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="password" id="password" name="password" class="input-text full-width" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" id="confirm-password" name="confirmPassword" class="input-text full-width" placeholder="Confirm Password">
            </div>
            <div class="form-group">
                <p class="description">Dengan mendaftar di web ini, berarti kamu setuju dengan <a href="">SYARAT dan KETENTUAN</a> kami</p>
            </div>
            <div class="form-group">
                <div class="center-component" id="loading">
                </div>
            </div>
            <button type="submit" id="btn-signup" class="full-width btn-medium">DAFTAR</button>
        </form>
    </div>
</div>