<a href="#popup-notif-confirmation-req-guide" id="popupbox-notif-confirmation-req-guide" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-pembayaran" id="popupbox-notif-confirmation-pembayaran" class="soap-popupbox"></a>

<div id="popup-notif-confirmation-req-guide" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <span class="center-component loading-image"></span>
            <h6><p id="confirmation-message-req-guide" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-req-guide-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>

<div id="popup-notif-confirmation-pembayaran" class="custom-box travelo-box">
   <div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <span class="center-component loading-image"></span>
            <h6><p id="confirmation-message-pembayaran" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
            <button class="button green uppercase btn-small btn-close-popup">
               CLOSE
            </button>
        </div>
    </form>
</div>