<div class="box col-sm-12 col-md-9">
	<div class="icon-box box style8 style12">
		<div class="icon-wrapper">
			<i class="soap-icon-hotel"></i>
		</div>
		<div class="details">
			<input type="hidden" id="notif-id-perjalanan" value="${idPerjalanan!}" />
			<h4 class="m-title" id="notif-detail-judul">${judulNotifikasi!}</h4>
		</div>
	</div>
	<hr>
	<div>
		<form>
			<div class="col-sm-12 no-padding no-float" id="notif-data">
				<div class="row form-group pesan-or-review">
					<div class="col-md-12">
						<label id="label-pesan">Pesan</label>
						<textarea rows="5" id="notif-detail-pesan"
							class="input-text full-width" placeholder="" disabled>${pesanNotifikasi!}</textarea>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12 col-sm-9">
						<label>Tujuan</label> <input type="text" id="notif-detail-tujuan"
							class="input-text full-width" value="${tujuan!}" disabled>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sms-4 col-sm-4">
						<label>Budget</label> <input type="text" id="notif-detail-budget"
							class="input-text full-width" value="${budget!}" disabled>
					</div>
					<div class="col-sms-4 col-sm-4">
						<label>Jumlah Orang</label> <input type="text" class="input-text full-width"
							value="${jumlahOrang!}" disabled>
					</div>
					<div class="col-sms-4 col-sm-4">
						<label>Kota Asal</label> <input type="text" class="input-text full-width"
							value="${kotaAsal!}" disabled>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sms-6 col-sm-6">
						<label>Tanggal Berangkat</label> <input type="text" class="input-text full-width"
							value="${(tanggalBerangkat)!}" disabled>
					</div>
					<div class="col-sms-6 col-sm-6">
						<label>Tanggal Selesai</label> <input type="text" class="input-text full-width"
							value="${tanggalSelesai!}" disabled>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>