<div class="activity-list">
	<div class="pull-left" style="width: 150px">
		<label class="label green-bg uppercase pull-right"> <strong>${role!"unavailable"}</strong>
		</label> <br> <small class="center-component"><b><i
				class="soap-icon-clock-1"></i> ${timestamp!"10/02/2017 12:53-"}</b></small>
	</div>
	<div class="pull-left">${pesan!"Not set"}</div>
</div>