<div class="box col-sm-9 col-md-6">
	<div class="icon-box box style8 style12">
		<div class="icon-wrapper">
			<i class="soap-icon-hotel"></i>
		</div>
		<div class="details">
			<input type="hidden" id="notif-id-perjalanan" value="${idPerjalanan!}" />
			<h4 class="m-title" id="notif-detail-judul">${judulNotifikasi!}</h4>
		</div>
	</div>
	<hr>
	<div>
		<form>
			<div class="col-sm-12 no-padding no-float" id="notif-data">
				<div class='row form-group' style=''>
					<div class='col-sms-9 col-sm-9 col-md-12'>
						<div class='alert alert-error'>
							<span class='center-component'>PERJALANAN INI DITOLAK</span>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12 col-sm-9">
						<label>Tujuan</label> <input type="text" id="notif-detail-tujuan"
							class="input-text full-width" value="${tujuan!}" disabled>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sms-6 col-sm-6">
						<label>Nama Guide</label>
						<input type="text" class="input-text full-width" value="${(namaGuide)!}" disabled>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<label id="label-pesan">Pesan</label>
						<textarea rows="5" 
							class="input-text full-width" placeholder="" disabled>${pesan!}</textarea>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>