<div class="box col-sm-12 col-md-9">
	<div class="icon-box box style8 style12">
		<div class="icon-wrapper">
			<i class="soap-icon-hotel"></i>
		</div>
		<div class="details">
			<input type="hidden" id="notif-id-perjalanan" value="${idPerjalanan!}" />
			<h4 class="m-title">${judulNotifikasi!}</h4>
		</div>
	</div>
	<hr>
	<div>
		<form>
			<div class="col-sm-12 no-padding no-float" id="notif-data">
				<div class='row form-group' style=''>
					<div class='col-sms-9 col-sm-9 col-md-12'>
						<div class='alert alert-help'>
							<span class='center-component'>PERJALANAN TELAH DITERIMA OLEH GUIDE</span>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12 col-sm-9">
						<label>Tujuan</label>
						<input type="text" id="notif-detail-tujuan"
							class="input-text full-width" value="${tujuan!}" disabled>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sms-6 col-sm-6">
						<label>Nama Guide</label>
						<input type="text" class="input-text full-width" value="${(namaGuide)!}" disabled>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sms-6 col-sm-6">
						<label>Tanggal Berangkat</label>
						<input type="text" class="input-text full-width" value="${(tanggalBerangkat)!}" disabled>
					</div>
					<div class="col-sms-6 col-sm-6">
						<label>Tanggal Selesai</label>
						<input type="text" class="input-text full-width" value="${tanggalSelesai!}" disabled>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sms-6 col-sm-6">
						<input type='button' id='btn-notif-selesai'
						class='button btn-small full-width text-center green'
						value='SELESAI'>
					</div>
					<div class="col-sms-6 col-sm-6">
						<input type='button' id='btn-notif-batal'
						class='button btn-small full-width text-center red'
						value='BATALKAN PERJALANAN'>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>