<div class="box col-sm-9 col-md-7">
	<div class="icon-box box style8 style12">
		<div class="icon-wrapper">
			<i class="soap-icon-hotel"></i>
		</div>
		<div class="details">
			<input type="hidden" id="notif-id-perjalanan" value="${idPerjalanan!}" />
			<h4 class="m-title" id="notif-detail-judul">${judulNotifikasi!}</h4>
		</div>
	</div>
	<hr>
	<div>
		<form>
			<div class="col-sm-12 no-padding no-float" id="notif-data">
				<div class="row form-group">
					<div class="col-md-12 col-sm-9">
						<label>Tujuan</label>
						<input type="text" id="notif-detail-tujuan"
						class="input-text full-width" value="${tujuan!}" disabled>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-6">
						<label id="label-pesan">Judul Review</label>
						<input type="hidden" id="username-lihat-review" value="${userReview!}">
						<input type="text" class="input-text full-width" value="${judulReview!}" disabled>
					</div>
					<div class="col-md-6">
						<label id="label-pesan">Rating</label>
						<div class="five-stars-container custom" data-placement="bottom">
							<span class="five-stars" style="width: ${rating!}%;">
							</span>
						</div>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<label id="label-pesan">Isi Review</label>
						<textarea rows="5" 
							class="input-text full-width" placeholder="" disabled>${isiReview!}</textarea>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-md-12">
						<label id="label-pesan">Kritik Saran</label>
						<textarea rows="5" 
							class="input-text full-width" placeholder="" disabled>${kritikSaran!}</textarea>
					</div>
				</div>
				<div class='row form-group' style='padding-top: 30px;'>
					<div class='col-sms-6 col-sm-4'>
						<input type='button' id='btn-notif-review'
							class='button btn-small full-width text-center yellow'
							value='LIHAT REVIEW' />
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
