<div class="box col-sm-10 col-md-8">
	<div class="icon-box box style8 style12">
		<div class="icon-wrapper">
			<i class="soap-icon-beach"></i>
		</div>
		<div class="details">
			<input type="hidden" id="notif-id-perjalanan" value="${(perjalanan.idPerjalanan)!}" />
			<h4 class="m-title" id="notif-detail-judul">Status dan Detail Perjalanan</h4>
		</div>
	</div>
	<hr>
	<div>
	    <h5>Detail Perjalanan</h5>
	    <div class="row form-group pesan-or-review">
          <div class="col-md-12">
             <label id="label-pesan">Pesan</label>
             <textarea rows="3" id="notif-detail-pesan"
                class="input-text full-width" placeholder="" disabled>${(perjalanan.pesan)!}</textarea>
          </div>
       </div>
       <div class="row form-group">
          <div class="col-md-12 col-sm-9">
             <label>Tujuan</label> <input type="text" id="notif-detail-tujuan"
                class="input-text full-width" value="${(perjalanan.tujuan)!}" disabled>
          </div>
       </div>
       <div class="row form-group">
          <div class="col-sms-6 col-sm-6">
             <label>Nama Guide</label>
             <div>
	             <div class="col-sm-6">
	                 <input type="text" class="input-text full-width" value="${(perjalanan.idGuide.namaLengkap)!}" disabled>
	             </div>
	             <div class="col-sm-6">
	                 <a href="/profile/detail/${(perjalanan.idGuide.idUser.username)!}" type="button" target="_blank" class="button btn-medium green">PROFILE</a>
	             </div>
             </div>
          </div>
          <div class="col-sms-6 col-sm-6">
             <label>Nama Traveler</label>
             <div>
                <div class="col-sm-6">
                    <input type="text" class="input-text full-width" value="${(perjalanan.idTraveler.namaLengkap)!}" disabled>
                </div>
                <div class="col-sm-6">
                    <a href="/profile/detail/${(perjalanan.idTraveler.idUser.username)!}" type="button" target="_blank" class="button btn-medium green">PROFILE</a>
                </div>
             </div>
          </div>
       </div>
       <div class="row form-group">
          <div class="col-sms-4 col-sm-4">
             <label>Jumlah Orang</label> <input type="text" class="input-text full-width"
                value="${(perjalanan.jumlahOrang)!}" disabled>
          </div>
          <div class="col-sms-8 col-sm-8">
             <label>Kota Asal Traveler</label> <input type="text" class="input-text full-width"
                value="${(perjalanan.idTraveler.idKota.namaKota)!}, ${(perjalanan.idTraveler.idKota.idProvinsi.namaProvinsi)!}" disabled>
          </div>
       </div>
       <div class="row form-group">
          <div class="col-sms-6 col-sm-6">
             <label>Tanggal Berangkat</label> <input type="text" class="input-text full-width"
                value="${((perjalanan.tanggalPergi)?string["dd MMM yyyy"])!}" disabled>
          </div>
          <div class="col-sms-6 col-sm-6">
             <label>Tanggal Selesai</label> <input type="text" class="input-text full-width"
                value="${((perjalanan.tanggalSelesai)?string["dd MMM yyyy"])!}" disabled>
          </div>
       </div>
       <#if (perjalanan.statusPerjalanan)! == "BARU" && statusPembayaran! == "DISETUJUI" && currentRole! == "GUIDE">
	       <div class='row form-group'>
	          <div class='col-sms-9 col-sm-6'>
	             <input type='button' id='btn-notif-terima'
	                class='button btn-small full-width text-center' value='TERIMA'>
	          </div>
	          <div class='col-sms-9 col-sm-6'>
	             <input type='button' id='btn-notif-tolak'
	                class='button btn-small full-width text-center yellow'
	                value='TOLAK' />
	          </div>
	      </div>
	    <#elseif (perjalanan.statusPerjalanan)! == "BERJALAN" && currentRole! == "TRAVELER">
	      <div class="row form-group">
	         <div class="col-sms-6 col-sm-6">
	            <input type='button' id='btn-notif-selesai'
	            class='button btn-small full-width text-center green'
	            value='SELESAIKAN PERJALANAN'>
	         </div>
	         <div class="col-sms-6 col-sm-6">
	            <input type='button' id='btn-notif-batal'
	            class='button btn-small full-width text-center red'
	            value='BATALKAN PERJALANAN'>
	         </div>
	      </div>
      </#if>
	   <hr>
	   <h5>Detail Status Perjalanan</h5>
		<div class="col-sm-12 no-padding no-float" id="notif-data">
			<div class='row form-group activity-list-container'>
				   <#if listNotifikasiTimeline?has_content>
						<#list listNotifikasiTimeline as notif>
						    <div class="activity-list">
								   <div class="pull-left" style="width: 150px">
								      <#if notif.rolePengirim == "GUIDE">
								         <label class="label green-bg uppercase pull-right"> <strong>${(notif.rolePengirim)!"unavailable"}</strong>
								      <#elseif notif.rolePengirim == "TRAVELER">
                                 <label class="label yellow-bg uppercase pull-right"> <strong>${(notif.rolePengirim)!"unavailable"}</strong>
								      <#elseif notif.rolePengirim == "SYSTEM">
								         <label class="label blue-bg uppercase pull-right"> <strong>${(notif.rolePengirim)!"unavailable"}</strong>
								      </#if>
								      </label> 
								      <br> 
								      <small class="center-component">
								          <b>
								              <i class="soap-icon-clock-1"></i> ${(notif.createdOn?datetime)!"unidentified"}
								          </b>
								      </small>
								   </div>
								   <div class="pull-left" style="width: 50%;">
									   <#if notif.idNotifikasiTipe.idNotifikasiTipe == "010" && currentRole! == "TRAVELER" && (perjalanan.statusPerjalanan)! != "DITOLAK" && 
									        (perjalanan.statusPerjalanan)! != "DIBATALKAN" && (perjalanan.statusPerjalanan)! != "SELESAI" & (statusPembayaran)! != "DISETUJUI">
									     
										     <#if (statusPembayaran)! == "VERIFIKASI">
										       <a class="button btn-mini green pull-right">VERIFIKASI</a>
										     <#else>
										       <a href="/pembayaran/${kodeTransaksi!}" target="_blank" class="button btn-mini orange pull-right">BAYAR</a>
										     </#if>
	                             
	                           </#if>
	                             
									   <b>
									       ${(notif.idNotifikasiTipe.judulNotifikasi)!"No message"} 
									   </b>
								   </div>
								   <br>
								   <#if notif.pesan?has_content>
								       <div class="pull-left" style="width: 50%;">
								          PESAN: ${(notif.pesan)!"No message"}
								          <#if notif.idNotifikasiTipe.idNotifikasiTipe == "010">
								          <br>
								          <span class="blue-color"><b>KODE TRANSAKSI:</b> ${kodeTransaksi!}</span>
								          </#if>
								       </div>
							      </#if>
							      <#if (perjalanan.statusPerjalanan)! == "SELESAI" && perjalanan.idReview.kritikSaran?has_content 
							           && notif.rolePengirim == "TRAVELER" && notif.idNotifikasiTipe.idNotifikasiTipe == "004">
							        <div class="pull-left" style="width: 50%;">
                                  KRITIK & SARAN: ${(perjalanan.idReview.kritikSaran)!}
                              </div>
							      </#if>
							 </div>
						</#list>
					<#else>
                   <p class="center-component">NO ITEM</p>
					</#if>
			</div>
		</div>
	</div>
</div>