
<div id="popup-notif-confirmation-contact-guide" class="custom-box travelo-box">
    <div class="alert alert-general dull-blue"><span class="center-component">INFORMASI KONTAK</span></div>
    
    <div class="seperator"></div>
    
	 <div>
	     <div class="col-md-12">
	        <label>NO. TELP</label>
	        <input type="text" class="input-text full-width" disabled value="${(perjalanan.idGuide.noTelp)!}">
	     </div>
	     <div class="col-md-12">
	        <label>EMAIL</label>
	        <input type="text" class="input-text full-width" disabled value="${(perjalanan.idGuide.idUser.email)!}">
	     </div>
	 </div>
	 <div class="center-component">
	     <button class="button green uppercase btn-small btn-close-popup" style="margin-top:50px;">
	        CLOSE
	     </button>
	 </div>
</div>