<a href="#popup-notif-confirmation-terima" id="popupbox-notif-confirmation-terima" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-tolak" id="popupbox-notif-confirmation-tolak" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-selesai" id="popupbox-notif-confirmation-selesai" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-batal" id="popupbox-notif-confirmation-batal" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-buat-review" id="popupbox-notif-confirmation-buat-review" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-contact" id="trigger-notif-confirmation-contact" class="soap-popupbox"></a>

<div id="popup-notif-confirmation-terima" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="confirmation-message-terima" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-terima-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>

<div id="popup-notif-confirmation-tolak" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <div class="row col-md-12">
            	<h6><p id="confirmation-message-tolak" class="description center-component"></p></h6>
            </div>
            <div class="row col-md-12 form-group">
            	<label class="center-component">KIRIM PESAN <small>(OPTIONAL)</small></label>
               <textarea id="pesan-notif-tolak" rows="5" class="input-text full-width" placeholder="Tuliskan pesan kamu di sini"></textarea>
            </div>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-tolak-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>
<div id="popup-notif-confirmation-selesai" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="confirmation-message-selesai" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-selesai-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>
<div id="popup-notif-confirmation-batal" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <div class="row col-md-12">
            	<h6><p id="confirmation-message-batal" class="description center-component"></p></h6>
            </div>
            <div class="row col-md-12 form-group">
            	<label class="center-component">KIRIM PESAN <small>(OPTIONAL)</small></label>
               <textarea id="pesan-notif-batal" rows="5" class="input-text full-width" placeholder="Tuliskan pesan kamu di sini"></textarea>
            </div>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-batal-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>
<div id="popup-notif-confirmation-buat-review" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="confirmation-message-buat-review" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-buat-review-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>
<div id="popup-notif-confirmation-contact" class="custom-box travelo-box">
   <div class="alert alert-general dull-blue"><span class="center-component">INFORMASI CONTACT GUIDE</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="confirmation-message-contact" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
            <button class="button red uppercase btn-small btn-close-popup">
               CLOSE
            </button>
        </div>
    </form>
</div>