<!-- Bootrstrap modal form -->
<div class="modal fade soap-popupbox" id="modal-success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>                        
                <h4>Sukses!</h4>
            </div>
            <div class="modal-body modal-body-np">
                <div class="row">
                    <div class="block">                
                        <p>Update profil berhasil!</p>
                    </div>
                </div>
            </div>   
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">OK</button> 
            </div>
        </div>
    </div>
</div> <!-- End of modal -->