<article class="box header-jalan-bareng">
    <div class="details col-xs-12 clearfix">
        <div class="col-sm-8 padding15">
            <div class="clearfix">
                <h4 class="box-title yellow-color font-bold">${(jalanBareng.tujuanPerjalanan)!}<small>${(jalanBareng.kotaTujuan)!}</small></h4>
            </div>
            <!-- div class="jalan-bareng-info margin15">
               <span class="skin-color">Tanggal Event:</span> <span>22 Aug - 26 Aug 2017</span>
               <i class="vertical-separator"></i>
               <span class="skin-color">Pembuat:</span> <span>afudzds</span>
               <br>
               <span class="skin-color">Jumlah Anggota/Kuota:</span> <span>1 / 7</span>
               <i class="vertical-separator"></i>
               <span class="skin-color">Status:</span> <span>BARU</span>
            </div-->
            <div class="long-description" style="text-align: justify; text-justify: newspaper;">
                <p></p>
                <h6 class="blue-color">Deskripsi Perjalanan</h6>
                <p></p>
                <p  style="word-wrap: break-word;">
                ${(jalanBareng.deskripsi)!}
                </p>
            </div>
        </div>
        <div class="col-sm-4 border-left padding15" style="margin-bottom: 15px;">
            <div class="row col-sm-12">
               <dl>
	                <dt class="skin-color">TANGGAL EVENT</dt>
	                <dd>${(jalanBareng.tanggalBerangkat)?string('dd MMM')} s/d ${(jalanBareng.tanggalSelesai)?string('dd MMM')} ${(jalanBareng.tanggalSelesai)?string('yyyy')}</dd>
	                <dt class="skin-color">PEMBUAT</dt>
	                <dd>${(jalanBareng.creator)!}</dd>
	                <dt class="skin-color">Jumlah Angota / Kuota</dt>
	                <dd>${(jalanBareng.jumlahAnggota)!} / ${(jalanBareng.quota)!} Orang</dd>
	                <dt class="skin-color">Status Perjalanan</dt>
	                <dd class="green-color status">OPEN</dd>
               </dl>
            </div>
            <div class="row col-sm-12">
               <a href="/travel-partner/chat/${(jalanBareng.tokenId)!}" target="_blank" class="button btn-small green full-width">
                  JOIN
               </a>
            </div>
        </div>
    </div>
</article>