<a href="#popup-notif-confirmation-foto-profil" id="popupbox-notif-confirmation-foto-profil" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-update-profil" id="popupbox-notif-confirmation-update-profil" class="soap-popupbox"></a>

<div id="popup-notif-confirmation-foto-profil" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
        		<span class="center-component loading-image"></span>
            <h6><p id="confirmation-message-foto-profil" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-foto-profil-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>

<div id="popup-notif-confirmation-update-profil" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <span class="center-component loading-image"></span>
            <h6><p id="confirmation-message-update-profil" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-update-profil-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>