<a href="#popup-notif-confirmation-complete-profil" id="complete-profil" class="soap-popupbox"></a>

<div id="popup-notif-confirmation-complete-profil" class="custom-box travelo-box">
	<div class="alert alert-notice"><span class="center-component">UPDATE PROFILE</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6>
	            <p id="confirmation-message-complete-profil" class="description center-component">
	            	<blockquote class="style2" style="text-align: justify; text-justify: newspaper; font-size: 1.2em; text-indent: 0px;">
						    Kamu diwajibkan melengkapi Profile dan Verifikasi User. Tanpa melakukan keduanya,
						    akun kamu akan menjadi INACTIVE dan tidak dapat digunakan untuk melakukan aktifitas
						    booking maupun pencarian serta interaksi dengan Guide maupun Traveler.
						</blockquote>
	            </p>
            </h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <!--  button id="btn-konfirmasi-complete-profil-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button -->
	        	<button class="button green uppercase btn-small btn-close-popup">
	        		CLOSE
	        	</button>
        </div>
    </form>
</div>