<a href="#popup-notif-confirmation-email" id="popupbox-notif-confirmation-email" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-password" id="popupbox-notif-confirmation-password" class="soap-popupbox"></a>

<div id="popup-notif-confirmation-email" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="confirmation-message-email" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-email-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>

<div id="popup-notif-confirmation-password" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="confirmation-message-password" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-password-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>