<article class="box">
    <figure class="col-xs-3"><span><img alt="Foto profil tidak tersedia" src="${(fotoProfilUrl)!}${(urlFoto)!"fotoProfil/default"}"></span></figure>
    <div class="details col-xs-9 clearfix">
        <div class="col-sm-6">
            <div class="clearfix">
                <h4 class="box-title">${(namaLengkap)!"Not set"}<small>${(namaKota)!"Not set"}</small></h4>
                <div class="logo">
                    <div class="five-stars-container" data-toggle="tooltip" data-placement="bottom" data-original-title="User rating: ${totalRating!"0"}"><span class="five-stars" style="width: ${ratingPersen!"0"}%;"></span></div>
                </div>
            </div>
            <div class="long-description" style="text-align: justify; text-justify: newspaper;">
                <p></p>
                <h6>Deskripsi</h6>
                <p></p>
                <p style="word-wrap: break-word;">${(deskripsiSingkat)!"Not set"}</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 character">
            <dl class="">
                <dt class="skin-color">Jenis Kelamin</dt>
                <dd>${(jenisKelamin)!"Not set"}</dd>
                <dt class="skin-color">Usia</dt>
                <dd>${umur!"0"} Tahun</dd>
                <dt class="skin-color">Status</dt>
                <#if (statusUser)! == "AVAILABLE">
                	<dd class="green-color status">${(statusUser)!"Not set"}</dd>
                <#else>
                	<dd class="red-color status">${(statusUser)!"Not set"}</dd>
                </#if>
            </dl>
        </div>
        <div class="action col-xs-6 col-sm-3"><span class="price"><small>Tarif (per hari)</small>Rp ${(tarif)!"Not set"}</span><a href="/profile/detail/${username!"Not set"}" target="_blank" class="button btn-small dull-blue full-width">select</a></div>
    </div>
</article>