<a href="#popup-notif-confirmation-verify" id="popupbox-notif-confirmation-verify" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-unverify" id="popupbox-notif-confirmation-unverify" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-suspend" id="popupbox-notif-confirmation-suspend" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-approve" id="popupbox-notif-confirmation-approve" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-finish" id="popupbox-notif-confirmation-finish" class="soap-popupbox"></a>

<div id="popup-notif-confirmation-verify" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="confirmation-message-verify" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-verify-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>

<div id="popup-notif-confirmation-unverify" class="custom-box travelo-box">
   <div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="confirmation-message-unverify" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
            <button id="btn-konfirmasi-unverify-yes" class="button green uppercase btn-small">
               PROSES
            </button>
            <button class="button red uppercase btn-small btn-close-popup">
               BATAL
            </button>
        </div>
    </form>
</div>

<div id="popup-notif-confirmation-suspend" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="confirmation-message-suspend" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-suspend-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>

<div id="popup-notif-confirmation-approve" class="custom-box travelo-box">
   <div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="confirmation-message-approve" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
            <button id="btn-konfirmasi-approve-yes" class="button green uppercase btn-small">
               PROSES
            </button>
            <button class="button red uppercase btn-small btn-close-popup">
               BATAL
            </button>
        </div>
    </form>
</div>

<div id="popup-notif-confirmation-finish" class="custom-box travelo-box">
   <div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="confirmation-message-finish" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
            <button id="btn-konfirmasi-finish-yes" class="button green uppercase btn-small">
               PROSES
            </button>
            <button class="button red uppercase btn-small btn-close-popup">
               BATAL
            </button>
        </div>
    </form>
</div>