<nav id="main-menu" role="navigation">
    <ul class="menu">
        <li class="menu-item-has-children">
            <a href="/">${(headerMenuHome)!""}</a>
        </li>
        <li class="menu-item-has-children">
            <a href="/search-guide">${(headerMenuSearch)!""}</a>
        </li>
        <li class="menu-item-has-children">
            <a href="/travel-partner">${(headerMenuJalanBareng)!""}</a>
        </li>
        <#if principal??>
	        <#if (principal.userRoles) != "ROCKSTAR">
	          <li>
	              <a href="/dashboard"><input type="button" class="button btn-medium green uppercase" value="DASHBOARD"/></a>
	          </li>
	        <#else>
	          <li><a href="/dashboard-admin"> ADMIN DASHBOARD (${(principal.username)!""})</a></li>
	        </#if>
        </#if>
    </ul>
</nav>