<nav id="mobile-menu-01" class="mobile-menu collapse">
    <ul id="mobile-primary-menu" class="menu">
        <li class="menu-item-has-children">
            <a href="/">${(headerMenuHome)!""}</a>
        </li>
        <li class="menu-item-has-children">
            <a href="/search-guide">${(headerMenuSearch)!""}</a>
        </li>
        <li class="menu-item-has-children">
            <a href="/travel-partner">${(headerMenuJalanBareng)!""}</a>
        </li>
    </ul>
    <ul class="mobile-topnav container">
    		<#if principal??>
        		<li><a href="/dashboard">DASHBOARD (${principal.username!""})</a></li>
				<li>
               <form action="/logout" id="logout" method="post">
                  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
               </form>
               <a href="#" onclick="document.getElementById('logout').submit();">${(headerSmallTextLogout)!}</a>
            </li>   
   			<#else>
   				<li><a href="#travelo-login" class="soap-popupbox">LOGIN</a></li>
                <li><a href="#travelo-signup" class="soap-popupbox">SIGNUP</a></li>
			</#if>
    </ul>
</nav>