		<div class="row">
                    <div id="main" class="col-sm-8 col-md-9">
                        <div class="search-box-wrapper style1">
                            <div class="search-box">
                                <ul class="search-tabs clearfix">
                                    <li><a href="#guide-tab" data-toggle="tab"><i class="soap-icon-user"></i>GUIDE</a></li>
                                    <li class="active"><a href="#traveler-tab" data-toggle="tab"><i class="soap-icon-family"></i>TRAVELER</a></li>
                                    <li><a href="#online-check-tab" data-toggle="tab"><i class="soap-icon-stories"></i>CHECK STATUS</a></li>
                                </ul>
                                <div class="visible-mobile">
                                    <ul id="mobile-search-tabs" class="search-tabs clearfix">
                                        <li><a href="#guide-tab">GUIDE</a></li>
                                        <li class="active"><a href="#traveler-tab">TRAVELER</a></li>
                                        <li><a href="#online-check-tab">CHECK STATUS</a></li>
                                    </ul>
                                </div>
                                <div class="search-tab-content">
                                    <div class="tab-pane fade" id="guide-tab">
                                        <form action="/search-guide/list" method="post">
                                            <div class="title-container">
                                                <h2 class="search-title">Cari Guide</h2>
                                                <p>Ingin traveling tapi tidak tahu tempat? Temukan guide anda disini.</p>
                                                <i class="soap-icon-user"></i>
                                            </div>
                                            <div class="search-content">
                                                <h5 class="title">Tujuan</h5>
                                                <label>Tujuan Anda</label>
                                                <input type="text" class="input-text full-width" placeholder="Ketikkan tujuan anda." />
                                                <hr>
                                                <h5 class="title">Waktu</h5>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label>Dimulai</label>
                                                        <div class="datepicker-wrap">
                                                            <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>Berakhir</label>
                                                        <div class="datepicker-wrap">
                                                            <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <h5 class="title">Pilihan Lain</h5>
                                                <div class="row">
                                                    <div class="col-xs-4">
                                                        <label>Jenis Kelamin</label>
                                                        <div class="selector">
                                                            <select class="full-width">
                                                                <option value="1">Semua</option>
                                                                <option value="2">Perempuan</option>
                                                                <option value="3">Laki-laki</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">Rating</label>
                                                        <div class="selector">
                                                            <select class="full-width">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <label>KIDS</label>
                                                        <div class="selector">
                                                            <select class="full-width">
                                                                <option value="1">01</option>
                                                                <option value="2">02</option>
                                                                <option value="3">03</option>
                                                                <option value="4">04</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <button type="submit" class="full-width uppercase">Temukan Guide</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade active in" id="traveler-tab">
                                        <form action="/search-guide/list" method="post">
                                            <div class="title-container">
                                                <h2 class="search-title">Cari Traveler</h2>
                                                <p>Punya waktu luang? Pengen jalan-jalan bareng orang lain? Temukan taveler disini.</p>
                                                <i class="soap-icon-family"></i>
                                            </div>
                                            <div class="search-content">
                                                <div class="row">
                                                    <h5 class="title">Where</h5>
                                                    <div class="col-xs-6">
                                                        <label>Pick Up</label>
                                                        <input type="text" class="input-text full-width" placeholder="city, distirct or specific airpot" />
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>Drop Off</label>
                                                        <input type="text" class="input-text full-width" placeholder="city, distirct or specific airpot" />
                                                    </div>
                                                </div>
                                                <hr>
                                                <h5 class="title">When</h5>
                                                <label>Pick-Up Date / Time</label>
                                                <div class="form-group row">
                                                    <div class="col-xs-6">
                                                        <div class="datepicker-wrap">
                                                            <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="selector">
                                                            <select class="full-width">
                                                                <option value="1">anytime</option>
                                                                <option value="2">morning</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label>Drop-Off Date / Time</label>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="datepicker-wrap">
                                                            <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="selector">
                                                            <select class="full-width">
                                                                <option value="1">anytime</option>
                                                                <option value="2">morning</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <h5 class="title">Who</h5>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <label>Adults</label>
                                                        <div class="selector">
                                                            <select class="full-width">
                                                                <option value="1">01</option>
                                                                <option value="2">02</option>
                                                                <option value="3">03</option>
                                                                <option value="4">04</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <label>Kids</label>
                                                        <div class="selector">
                                                            <select class="full-width">
                                                                <option value="1">01</option>
                                                                <option value="2">02</option>
                                                                <option value="3">03</option>
                                                                <option value="4">04</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>Promo Code</label>
                                                        <input type="text" class="input-text full-width" placeholder="type here" />
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label>Car Type</label>
                                                        <div class="selector">
                                                            <select class="full-width">
                                                                <option value="">select a car type</option>
                                                                <option value="economy">Economy</option>
                                                                <option value="compact">Compact</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="form-group">
                                                    <button type="submit" class="full-width">PROCEED TO RESULT</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane fade" id="online-check-tab">
                                        <form>
                                            <div class="title-container">
                                                <h2 class="search-title">Status Check</h2>
                                                <p>Cek status aktifitas anda di sini.</p>
                                                <i class="soap-icon-stories"></i>
                                            </div>
                                            <div class="search-content">
                                                <h5 class="title">Where</h5>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label>Leaving From</label>
                                                        <input type="text" class="input-text full-width" placeholder="enter a city or place name" />
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <label>Going To</label>
                                                        <input type="text" class="input-text full-width" placeholder="enter a city or place name" />
                                                    </div>
                                                </div>
                                                <hr>
                                                <h5 class="title">When</h5>
                                                <label>Departure Date</label>
                                                <div class="datepicker-wrap">
                                                    <input type="text" class="input-text full-width" placeholder="mm/dd/yy" />
                                                </div>
                                                <hr>
                                                <h5 class="title">Who</h5>
                                                <label>Full Name</label>
                                                <input type="text" class="input-text full-width" placeholder="enter your full name" />
                                                <hr>
                                                <button type="submit" class="full-width">SEARCH NOW</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar col-sm-4 col-md-3">
                        <div class="travelo-box contact-box">
                            <h4>Butuh bantuan?</h4>
                            <p>Tim kami akan melayani anda dengan baik. Hubungi di nomor telepon atau email kami. Happy traveling :)</p>
                            <address class="contact-details">
                                <span class="contact-phone"><i class="soap-icon-phone"></i> 021-223-8891</span>
                                <br>
                                <a class="contact-email" href="#">hai@guide-me.id</a>
                            </address>
                        </div>
                        <div class="travelo-box book-with-us-box">
                            <h4>Kenapa memilih kami?</h4>
                            <ul>
                                <li>
                                    <i class="soap-icon-hotel-1 circle"></i>
                                    <h5 class="title"><a href="#">135,00+ Hotels</a></h5>
                                    <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                </li>
                                <li>
                                    <i class="soap-icon-savings circle"></i>
                                    <h5 class="title"><a href="#">Low Rates &amp; Savings</a></h5>
                                    <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                </li>
                                <li>
                                    <i class="soap-icon-support circle"></i>
                                    <h5 class="title"><a href="#">Excellent Support</a></h5>
                                    <p>Nunc cursus libero pur congue arut nimspnty.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>