<h4>Hubungi Kami</h4>
<div class="contact-box">
    <p>Jika kamu mengalami kesulitan hubungi kami melalui email atau nomor telp di bawah ini.</p>
    <address class="contact-details">
        <span class="contact-phone"><i class="soap-icon-phone"></i> 0812-9020-7740</span>
        <br>
        <a class="contact-email" href="#">hai@ohmyguide.id</a>
    </address>
</div>