<a href="#popup-success" id="popupbox-success" class="soap-popupbox"></a>
<a href="#popup-error" id="popupbox-error" class="soap-popupbox"></a>
<a href="#popup-warning" id="popupbox-warning" class="soap-popupbox"></a>

<div id="popup-success" class="travelo-login-box travelo-box">
	<div class="alert alert-success">Proses Berhasil!</div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h4><p id="success-message" class="description center-component"></p></h4>
        </div>
    </form>
</div>

<div id="popup-error" class="travelo-login-box travelo-box">
	<div class="alert alert-error">Proses Gagal!</div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h4><p id="error-message" class="description center-component"></p></h4>
        </div>
    </form>
</div>

<div id="popup-warning" class="travelo-login-box travelo-box">
	<div class="alert alert-notice">Periksa kembali!</div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h4><p id="warning-message" class="description center-component"></p></h4>
        </div>
        <div>
        	<button class="button dull-blue full-width uppercase btn-small btn-close-popup">
        		CLOSE
        	</button>
        </div>
    </form>
</div>