<a href="#popup-notif-success" id="popupbox-notif-success" class="soap-popupbox"></a>
<a href="#popup-notif-error" id="popupbox-notif-error" class="soap-popupbox"></a>
<a href="#popup-notif-warning" id="popupbox-notif-warning" class="soap-popupbox"></a>
<a href="#popup-notif-unavailable" id="popupbox-notif-unavailable" class="soap-popupbox"></a>

<div id="popup-notif-success" class="custom-box travelo-box">
	<div class="alert alert-success"><span class="center-component">PROSES BERHASIL</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="success-message" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	        	<button id="close-popop-success" class="button green uppercase btn-small btn-close-popup">
	        		CLOSE
	        	</button>
        </div>
    </form>
</div>

<div id="popup-notif-error" class="custom-box travelo-box">
	<div class="alert alert-error"><span class="center-component">PROSES GAGAL</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="error-message" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	        	<button id="close-popop-error" class="button green uppercase btn-small btn-close-popup">
	        		CLOSE
	        	</button>
        </div>
    </form>
</div>

<div id="popup-notif-warning" class="custom-box travelo-box">
	<div class="alert alert-notice"><span class="center-component">PERIKSA KEMBALI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="warning-message" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	        	<button id="close-popop-warning" class="button green uppercase btn-small btn-close-popup">
	        		CLOSE
	        	</button>	
        </div>
    </form>
</div>

<div id="popup-notif-unavailable" class="custom-box travelo-box">
   <div class="alert alert-notice"><span class="center-component">FITUR BELUM TERSEDIA</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6>
	            <p class="description center-component">
	              Fitur ini masih dalam tahap pengembangan dan masih belum tersedia. Silahkan mendaftar untuk mendapatkan pemberitahuan
	              jika fitur ini telah siap digunakan. Happy traveling!
	            </p>
            </h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
            <button id="close-popop-unavailable" class="button green uppercase btn-small btn-close-popup">
               CLOSE
            </button>
        </div>
    </form>
</div>