<a href="#popup-notif-comodo" id="popupbox-notif-comodo" class="soap-popupbox"></a>

<div id="popup-notif-comodo" class="comodo-seal-box travelo-box">
	<div class="alert alert-success"><span class="center-component">COMODO VERIFIED SSL</span></div>
    <div class="seperator"></div>
    <form>
        <div class="row form-group">
            <div class="loading-image"></div>
            <div id="comodo-message"></div>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	        	<button id="close-popop-comodo" class="button green uppercase btn-small btn-close-popup">
	        		CLOSE
	        	</button>
	        	<a href="https://trustlogo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=CL1&v_search=https://www.ohmyguide.id/&x=6&y=5" target="_blank" class="button orange uppercase btn-small">
               OPEN
            </a>
        </div>
    </form>
</div>