/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */

	#content.homepage-bg1 {
	  background: url("/images/homepage/img-bg1.jpg") no-repeat center center;
	  min-height: 880px;
	}
	#header.style4 .main-navigation {
	    border-top: 1px solid #28b6e9;
	}
	
	.listing-style3.car .details .character dd.status{
		font-weight: bolder;
	}
	
	/* Buat setting tooltip di halaman detail guide profile*/
	ul#guide-detail-rating .tooltip-inner {
	    /*width: 350px;*/ 
	}
	
	/* ubah warna background di small footer jadi warna putih */
	.small-footer.gray-area {
	    background: #fff;
	}
	
	/* Setting tinggi map di home page*/
	#map {
		height: 150px;
	}
	
	/* Mengatur top nav kecil yang isinya login dan signup*/
	#header .topnav {
	    height: 30px;
	    background: #12a0c3;
	    width: 100%;
	}
	
	.alert.alert-error {
	    background: #f32f47;
	}
	
	.alert.alert-notice {
	    background: #fdb714;
	}
	
	.alert.alert-general.dull-blue {
	    background: #01b7f2;
	}
	
	.alert.alert-general.verified {
	    background: #01b7f2;
	}
	
	.alert.alert-general.pending {
	    background: #fdb714;
	}
	
	.alert.alert-general.unverified {
	    background: #fdb714;
	}
	
	.alert.alert-general.verified::before {
    	content: "\e8ba";
	}
	
	p.verifikasi {
	    font-size: 1.8em;
	    line-height: 1.1;
	}
	
	.toggle.btn {
	    min-width: 100%;
	    width: 100%;
	    height: 100%;
	}
	
	.center-component {
		text-align:center;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: auto;
	    margin-bottom: auto;
	}
	
	/* Untuk tab perjalanan di dashboard*/
	#booking .booking-info .info dt {
	    color: #98ce44;
	}
	#booking .booking-info div.date > .month {
	  background: #98ce44;
	}
	#booking .booking-info div.date > .date, #booking .booking-info div.date > .day {
	  color: #98ce44;
	}
	#booking .booking-info .icon, #booking .booking-info .icon:before {
	  border-color: #98ce44;
	  color: #98ce44;
	}
	#booking .booking-info .status {
	  background: #98ce44;
	}
	
	
	#booking .booking-info.done div.date > .month {
	  background: #01b7f2;
	}
	#booking .booking-info.done div.date > .date, #booking .booking-info.done div.date > .day {
	  color: #01b7f2;
	}
	#booking .booking-info.done .icon, #booking .booking-info.done .icon:before {
	  border-color: #01b7f2;
	  color: #01b7f2;
	}
	#booking .booking-info.done .status {
	  background: #01b7f2;
	}
	
	/**/
	
	.orange-bg {
	  background-color: #ff6000 !important;
	}
	
	.listing-style3.hotel.hotel-custom .details > * > *:last-child {
	    width: 100%;
	}
	
	.listing-style3.hotel.hotel-custom .details > * > *:first-child {
	    border-right: 0px;
	}
	
	.custom-box {
		  width: 50%;
		  margin: 0 auto;
		  display: none;
	}
	
	.custom-box {
        width: 50%;
        margin: 0 auto;
        display: none;
   }
	
	.fileinput.disabled::after {
	    background: #d9d9d9;
	}
	
	.selector.disabled span.custom-select::before {
	    background: #d9d9d9;
	}
	
	input.input-text.foto-profil {
	    height: 25px;
	}
	
	.fileinput.foto-profil::after{
		font-size: 0.75em;
	}
	
	/* Custom color buat dateppicker dan selector di homepage */
	.search-box-wrapper.style2 .search-tab-content .datepicker-wrap::after {
	    background: #01b7f2;
	    color: #fff;
	}
	
	.search-box-wrapper.style2 .search-tab-content .selector span.custom-select::before {
	    background: #01b7f2;
	}
	/* End of custom datepicker */
	
	.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
	.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
	.autocomplete-selected { background: #F0F0F0; }
	.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
	.autocomplete-group { padding: 2px 5px; }
	.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
	
	
	.fileinput input[type="file"] {
	   cursor: hand;
		cursor: pointer;
	}
	
	.large-block.custom {
	    margin-bottom: 0px;
	}
	
	.notif-container{
	    overflow: auto;
	    height:300px
	}
	
	.profile-preview{
		border-width: 1px;
		border-style: solid;
		border-color: #eeeeec;
	}
	
	.edit-profile-form label{
		font-weight: 700;
	}
	
	.section.custom {
	    padding-top: 0px;
	    padding-bottom: 70px;
	}
	
	.five-stars-container.custom {
	    font-size: 25px;
	}
	
	.investor-list.custom img {
	    -webkit-filter: none;
	    filter: none;
	    -o-filter: none;
	    filter: alpha(opacity=100);
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	    -moz-opacity: 1;
	    -khtml-opacity: 1;
	    opacity: 1;
	}
	
	#cruise-features.custom {
	    margin-top: 0px;
	}
	
	.login-error {
		background-color: #01b7f2;
		color: #f5f5f5;
		height 30px;
		width: 100%;
		margin-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-weight: bold;
	}

	/* This only works with JavaScript, 
	 * if it's not present, don't show loader 
	 */
	 
	.no-js #loader {
		display: none;
	}
	
	.js #loader {
		display: block;
		position: absolute;
		left: 100px;
		top: 0;
	}
	
	.se-pre-con {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url(/images/loading/Preloader_2.gif) center no-repeat #fff;
	}
	
	.spinner {
		font-size: 10px;
		margin: 200px auto;
	}

	.spinner-container {
	   z-index: 99999;
	   position: fixed;
	   width: 100%;
      height: 100%;
      text-align: center;
		background: center no-repeat #fff;
	}

	.spinner>div {
		background-color: #01b7f2;
		height: 40px;
		width: 6px;
		display: inline-block;
		-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
		animation: sk-stretchdelay 1.2s infinite ease-in-out;
	}
	
	.spinner .rect2 {
		-webkit-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}
	
	.spinner .rect3 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}
	
	.spinner .rect4 {
		-webkit-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}
	
	.spinner .rect5 {
		-webkit-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}
	
	@-webkit-keyframes sk-stretchdelay {
	  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
	  20% { -webkit-transform: scaleY(1.0) }
	}
	
	@keyframes sk-stretchdelay {
	  0%, 40%, 100% { 
	    transform: scaleY(0.4);
	    -webkit-transform: scaleY(0.4);
	  }  20% { 
	    transform: scaleY(1.0);
	    -webkit-transform: scaleY(1.0);
	  }
	}

	.badge.custom {
	    background-color: #FDB716;
	    border-radius: 10px;
	}
	
	.round-div{
		padding:20px 40px 20px 40px;
		
		-webkit-border-radius: 15px;
	  	-moz-border-radius: 15px;
	  	border-radius: 15px;
	}
	
	.round-div-search-jalan-bareng{
      padding: 5px 10px 5px 10px;
      border-top: 5px solid #fdb714;
      
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
   }
   
   .box.header-jalan-bareng{
     border-top: 3px solid #eeeeec;
     /* -moz-box-shadow: 0 0 5px #ccc;
     -webkit-box-shadow: 0 0 5px #ccc;
     box-shadow: 0 0 5px #ccc; */
   }
	
	.font-bold{
	  font-weight: bold;
	}
	
	.search-results-title.custom {
	    border-bottom: 0px;
	}  
	.round-div-small{
		padding:10px 10px 10px 10px;
		
		-webkit-border-radius: 7px;
	  	-moz-border-radius: 7px;
	  	border-radius: 7px;
	  	
	  	margin-bottom: 10px;
	}
	
	small.help-block {
	    font-size: 90%;
	}
	
	.activity-list-container{
	  border-style: solid;
     border-width: 1px 1px 3px 1px;
     border-color: #ccc;
     padding: 15px 5px 5px 4px;
	}
	
	.activity-list {
	    border-bottom: 2px dotted #f5f5f5;
	    background: #fff;
	    padding-top: 3px;
	    float: left;
	    width: 100%;
	}
	
	.activity-list > div{
       padding: 3px 5px 3px 5px;
   }
	
	.activity-list .label {
	    display: inline;
	    font-size: 80%;
	    padding: .2em .6em .3em;
	    line-height: 1.5;
	    color: #fff;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: baseline;
	    width: 100%;
	    border-radius: 0em;
	}
	
	.logo-bank-pembayaran{
	     padding: 10px 10px 10px 10px;
	     display: block;
		  max-width:270px;
		  max-height:80px;
		  width: auto;
		  height: auto;
	}
	
	.pembayaran{
		  background:#fff; 
		  margin-bottom: 30px; 
		  padding: 25px 50px 25px 50px;
	}
	
	.full-border{
	  margin: 5px 5px 5px 5px;
	  border-style: dotted;
	  border-width: 1px 1px 1px 1px;
	  border-color: #f5f5f5;
	}
	
	.comodo-seal-box{
     width: 60%;
     margin: 0 auto;
     display: none;
   }
	
	.comodo-seal{
	  padding: 0px 20px 0px 20px;
	}
	
	.border-right{
	  border-right: 1px solid #f5f5f5;
	}
	
	.border-left{
     border-left: 1px solid #f5f5f5;
   }
   
   .padding15{
      padding: 15px 15px 15px 15px;
   }
   
   .margin15{
      margin: 15px 15px 15px 15px;
   }
   
   .margin-bottom25{
      margin-bottom: 25px;
   }
   
   .margin-bottom15{
      margin-bottom: 15px;
   }
   
   .fullname-custom{
      margin-bottom: 30px;
		color: #2d3e52;
   }
   
   .display-none{
      display: none;
   }
   
   .car-list.custom{
      margin-top: 0px;
   }
   
   .pagination.nomargin {
	    margin: 0px;
	}
	
	.vertical-separator{
     border-left: 1px solid #d3d7cf;
     margin: 1px 20px 1px 20px;
   }
   
   .jalan-bareng-info > span{
      margin: 0px 2px 0px 2px;
   }
   
   .jb-info-width{
      min-width: 25px;
   }
   
   .biografi{
      margin: 30px 15px 15px 0px;
      text-transform: none;
   }
   
   .main-bar.custom{
       background: #f5f5f5 none repeat scroll 0 0;
	    height: 100%;
	    padding-top: 0px;
	}
	
	.container.custom{
	    width: 100%;
	    height: 100%;
	}
	
	.caption-mobile{
	    min-height: 200px;
	    padding-top: 25px;
	    padding-bottom: 50px;
	}
	
	ul.search-tabs li a {
    opacity: 0.8;
	}
	
	ul.search-tabs li {
	    float: left;
	    padding-right: 0px;
	    padding-left: 5px;
	}
	
	.home-btn-header{
	  padding: 5px;
	  font-size: 3em;
	  font-style: lighter;
	}
	
	.home-btn-header > a:hover {
	  color: #fdb714;
	  font-style: bolder;
	}
   
   .icon-normalize-font{
      font-size: 1.4em;
   }
   
   .font5em{
      font-size: 5em;
   }
   
   .title-jb-header{
      font-size: 4em;
      font-style: bold;
   }
   
   .font2em{
      font-size: 2em;
   }
   
   #btn-search-guide{
      margin-top: 23px;
   }
   
   .jb-description{
      text-align: justify;
      text-justify: newspaper;
      font-size: 1.2em;
      text-indent: 0px;
   }
   
   .guarantee-section{
      background-position: 50% 40.3px;
   }
   
   .partner-container.custom{
      width: 100%;
      height: 250px;
      background-color:#f5f5f5;
   }
   
   .partner-container.custom .child1{
      width: 60%;
      height: auto;
      padding-top: 30px;
   }
   
