<a href="#popup-notif-confirmation-verifikasi1" id="popupbox-notif-confirmation-verifikasi1" class="soap-popupbox"></a>
<a href="#popup-notif-confirmation-verifikasi2" id="popupbox-notif-confirmation-verifikasi2" class="soap-popupbox"></a>
<a href="#popup-notif-success-verifikasi" id="trigger-notif-success-verifikasi" class="soap-popupbox"></a>

<div id="popup-notif-confirmation-verifikasi1" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
        		<span class="center-component loading-image"></span>
            <h6><p id="confirmation-message-verifikasi1" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-verifikasi1-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>

<div id="popup-notif-confirmation-verifikasi2" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
        		<span class="center-component loading-image"></span>
            <h6><p id="confirmation-message-verifikasi2" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-verifikasi2-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>

<div id="popup-notif-success-verifikasi" class="custom-box travelo-box">
   <div class="alert alert-success"><span class="center-component">PROSES BERHASIL</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6><p id="success-message-verifikasi" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
            <button id="close-popop-success-verifikasi" class="button green uppercase btn-small btn-close-popup">
               CLOSE
            </button>
        </div>
    </form>
</div>