<div class="topnav hidden-xs">
    <div class="container">
        <ul class="quick-menu pull-left">
            <li class="ribbon">
                <a href="#">Indonesian</a>
                <ul class="menu mini">
                    <li><a href="?lang=eng" title="English">English</a></li>
                    <li class="active"><a href="/" title="Indonesian">Indonesian</a></li>
                </ul>
            </li>
        </ul>
        <ul class="quick-menu pull-right">
        	<#if principal?has_content>
        		<li><a href=""><span class="badge custom">0</span></a></li>
				<li>
					<form action="/logout" id="logout" method="post">
						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
					</form>
					<a href="#" onclick="document.getElementById('logout').submit();">${(headerSmallTextLogout)!}</a>
				</li>  
   		<#else>
   			<li><a href="#travelo-login" id="btn-login" class="soap-popupbox">${(headerSmallTextLogin)!}</a></li>
            <li><a href="#travelo-signup" class="custom-email-signup soap-popupbox">${(headerSmallTextDaftar)!}</a></li>		
			</#if>
        </ul>
    </div>
</div>
<script>


</script>