<div class="row">
	<div class="col-md-5">
		<#include "/fragments/jalan-bareng/chat-area.html">
	</div>
	<div class="col-md-4">
		<div class="round-div"
			style="background-color: white; height: 250px; margin-top: 20px;">
			
			<div class="row green-bg round-div-small">
				<h5 class="white-color uppercase center-component">Anggota</h5>
			</div>
			<hr>
			<div class="jln-brg-list-anggota accepted" style="overflow-y:auto; max-height: 120px;">
				<#if listAnggota?has_content>
				   <#list listAnggota as anggota>
				      <#if anggota.status == "DITERIMA">
								<div class="row accepted" id="${anggota.idAnggota.idUser.username!}" style="width:100%;">
									<p>
										<span class="uppercase blue-color" style="padding-left: 20px;">
										${(anggota.idAnggota.idUser.username)!}
										</span>
										<a href="#popup-notif-confirmation-kick-anggota" data-idanggota="${anggota.idAnggota.idUserDetail!}" data-username="${anggota.idAnggota.idUser.username!}" class="button btn-mini red pull-right kick-anggota soap-popupbox">KICK</a>
										<a href="/profile/detail/${(anggota.idAnggota.idUser.username)!}" target="_blank" class="button btn-mini dull-blue pull-right">Profile</a>
									</p>
								</div>
						</#if>
					</#list>
				</#if>
			</div>
		</div>
		<div class="round-div" style="background-color: white; height: 250px; margin-top: 20px;">
			<div class="row green-bg round-div-small">
				<h5 class="white-color uppercase center-component">PERMINTAAN</h5>
			</div>
			<hr>
			<#if listAnggota?has_content>
				<div class="jln-brg-list-anggota request" style="overflow-y:auto; max-height: 120px;">
					<#list listAnggota as anggota>
					    <#if anggota.status == "PENDING">
						    <div class="row item-anggota request" id="${anggota.idAnggota.idUser.username!}" style="width:100%;">
	                     <p>
	                        <span class="uppercase s-title" style="padding-left: 20px;">
	                          <a href="/profile/detail/${anggota.idAnggota.idUser.username!}" target="_bank">${anggota.idAnggota.idUser.username!}</a>
	                        </span>
	                        <a href="#popup-notif-confirmation-reject-anggota" data-idanggota="${anggota.idAnggota.idUserDetail!}" data-username="${anggota.idAnggota.idUser.username!}" class="button btn-mini orange pull-right reject-anggota soap-popupbox">Tolak</a>
	                        <a href="#popup-notif-confirmation-terima-anggota" data-idanggota="${anggota.idAnggota.idUserDetail!}" data-username="${anggota.idAnggota.idUser.username!}" class="button btn-mini dull-blue pull-right approve-anggota soap-popupbox">Terima</a> 
	                     </p>
	                   </div>
					    </#if>
					</#list>
				</div>
			<#else>
				
			</#if>
		</div>
	</div>
	<div class="col-md-3">
		<div class="round-div"
			style="background-color: white; height: 500px; margin-top: 20px; border-top: 50px; border-color: black;">
			<div class="row blue-bg round-div-small">
				<h5 class="white-color uppercase center-component">Detail Perjalanan</h5>
			</div>
			<div class="row">
				<div	class="form-group">
					<label>PEMBUAT:</label>
					<input type="text" disabled class="input-text full-width" value="${creatorNamaLengkap!} (${creator!})"/>
				</div>
			</div>
			<div class="row">
				<div	class="form-group">
					<label>TUJUAN:</label>
					<textarea disabled  class="input-text full-width">${tujuan!}</textarea>
				</div>
			</div>
			<div class="row">
				<div	class="form-group">
					<label>TANGGAL BERANGKAT</label>
					<input type="text" disabled class="input-text full-width" value="${(tanggalBerangkat?string["dd-MMM-yyyy"])!}"/>
				</div>
			</div>
			<div class="row">
				<div	class="form-group">
					<label>TANGGAL SELESAI</label>
					<input type="text" disabled class="input-text full-width" value="${(tanggalSelesai?string["dd-MMM-yyyy"])!}"/>
				</div>
			</div>
			<div class="row" style="margin-top: 30px;">
				<a href="#popup-notif-confirmation-selesaikan-perjalanan" class="button btn-medium orange full-width soap-popupbox" id="btn-selesaikan-perjalanan">SELESAIKAN PERJALANAN</a>
			</div>
		</div>
	</div>
</div>