<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row round-div"
			style="background-color: white; margin-top: 20px;">
			<div class="row" style="padding: 10px 10px 10px 10px;">
				<h5 class="uppercase center-component">Event perjalanan ini telah selesai. Silahkan mencari event lain di halaman <a href="/travel-partner" class="blue-color">Jalan Bareng</a>. Terimakasih.</h5>
			</div>
		</div>
	</div>
</div>