<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row round-div"
			style="background-color: white; margin-top: 20px;">
			<div class="row" style="padding: 10px 10px 10px 10px;">
				<h5 class="uppercase center-component">Permintaan kamu telah diterima dan menunggu persetujuan pembuat event ini.</h5>
			</div>
		</div>
	</div>
</div>