<div class="row">
	<div class="col-md-3">
	   <div class="col-md-12">
			<div class="row round-div"
				style="background-color: white; height: 500px; margin-top: 20px; border-top: 50px; border-color: black;">
				
				<div class="row green-bg round-div-small">
					<h5 class="white-color uppercase center-component">Anggota Perjalanan</h5>
				</div>
				<hr>
				<#if listAnggota?has_content>
					<div class="jln-brg-list-anggota">
						<#list listAnggota as anggota>
						    <div class="row">
		                   <p><span class="uppercase blue-color">${(anggota.idAnggota.idUser.username)!}<a href="/profile/detail/${(anggota.idAnggota.idUser.username)!}" target="_blank" class="button btn-mini dull-blue pull-right">Profile</a></span></p>
		                </div>
						</#list>
					</div>
				</#if>
			</div>
		</div>
	</div>
	<div class="col-md-6" style="margin-bottom: 50px;">
		<div class="col-md-12">
			<#include "/fragments/jalan-bareng/chat-area.html">
		</div>
	</div>
	<div class="col-md-3">
	   <div class="col-md-12">
			<div class="row round-div"
				style="background-color: white; height: 500px; margin-top: 20px; border-top: 50px; border-color: black;">
				<div class="row blue-bg round-div-small">
					<h5 class="white-color uppercase center-component">Detail Perjalanan</h5>
				</div>
				<div class="row">
					<div	class="form-group">
					   <a href="/profile/detail/${creator!}" target="_blank" class="button btn-mini orange pull-right">PROFILE</a>
						<label>PEMBUAT:</label>
						<input type="text" disabled class="input-text full-width" value="${creatorNamaLengkap!} (${creator!})"/>
					</div>
				</div>
				<div class="row">
					<div	class="form-group">
						<label>TUJUAN:</label>
						<textarea disabled  class="input-text full-width">${tujuan!}</textarea>
					</div>
				</div>
				<div class="row">
					<div	class="form-group">
						<label>TANGGAL BERANGKAT</label>
						<input type="text" disabled class="input-text full-width" value="${(tanggalBerangkat?string["dd-MMM-yyyy"])!}"/>
					</div>
				</div>
				<div class="row">
					<div	class="form-group">
						<label>TANGGAL SELESAI</label>
						<input type="text" disabled class="input-text full-width" value="${(tanggalSelesai?string["dd-MMM-yyyy"])!}"/>
					</div>
				</div>
				<div class="row" style="margin-top: 30px;">
					<a href="#popup-notif-confirmation-tinggalkan-perjalanan" class="button btn-medium red full-width soap-popupbox">TINGGALKAN PERJALANAN</a>
				</div>
			</div>
		</div>
	</div>
</div>