<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="row round-div"
			style="background-color: white; height: 500px; margin-top: 20px; border-top: 50px; border-color: black;">
			<div class="row blue-bg" style="padding: 10px 10px 10px 10px; margin-bottom: 15px;">
				<h3 class="white-color uppercase center-component">Detail Jalan Bareng</h3>
			</div>
			<div class="row">
				<div	class="form-group">
					<label>PEMBUAT:</label>
					<a href="/profile/detail/${creator!}" target="_blank" class="button btn-mini orange pull-right">PROFILE</a>
					<input type="text" disabled class="input-text full-width" value="${creatorNamaLengkap!} (${creator!})"/>
				</div>
			</div>
			<div class="row">
				<div	class="form-group">
					<label>TUJUAN:</label>
					<textarea disabled  class="input-text full-width">${tujuan!}</textarea>
				</div>
			</div>
			<div class="row">
				<div	class="form-group">
					<label>TANGGAL BERANGKAT</label>
					<input type="text" disabled class="input-text full-width" value="${(tanggalBerangkat?string["dd-MMM-yyyy"])!}"/>
				</div>
			</div>
			<div class="row">
				<div	class="form-group">
					<label>TANGGAL SELESAI</label>
					<input type="text" disabled class="input-text full-width" value="${(tanggalSelesai?string["dd-MMM-yyyy"])!}"/>
				</div>
			</div>
			<div class="row" style="margin-top: 30px;">
				<a id="btn-join-perjalanan" class="button btn-medium green full-width soap-popupbox" href="#popup-notif-confirmation-join-perjalanan">JOIN PERJALANAN</a>
			</div>
		</div>
	</div>
</div>