<div id="chat-container">
	<div id="chat-wrapper">
		<div class="chat-area">
			<!-- p class="datestamp">May 20, 2014, 4:16 PM</p-->
			<#if chatMessagePage?has_content && currentUsername?has_content>
			   <#list (chatMessagePage.content)?reverse as message>
			      <#if message.pengirim == currentUsername>
				     <div class='chat-content bubble bubble-alt green'><p class='username uppercase'>${currentUsername!} <small class="black-color pull-right timestamp"> ${(message.timestamp)?string('HH:mm:ss')}</small></p><p>${(message.pesan)!}</p></div>
				   <#else>
				     <div class='bubble'><p class='username uppercase'>${(message.pengirim)!} <small class="black-color pull-right timestamp"> ${(message.timestamp)?string('HH:mm:ss')}</small></p><p>${(message.pesan)!}</p></div>
			      </#if>
			   </#list>
			</#if>
		</div>
	</div>
</div>

<div class="row">
	<div class="form-group"
		style="padding-left: 15px; padding-right: 15px;">
		<textarea id="message-content"
			class="input-text full-width" autocomplete="off" row="5"
			style="background-color: white; margin-bottom: 10px;"
			value="" placeholder="Ketik pesan kamu"></textarea>
		<a type="submit"
			class="button btn-medium sky-blue2 pull-right" id="btn-kirim">KIRIM</a>
	</div>
</div>