<div id="popup-notif-confirmation-terima-anggota" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6>
            <p id="confirmation-message-terima-anggota" class="description center-component">
            </p>
            </h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-terima-anggota-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>

<div id="popup-notif-confirmation-reject-anggota" class="custom-box travelo-box">
   <div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <h6>
            <p id="confirmation-message-reject-anggota" class="description center-component">
            </p>
            </h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
            <button id="btn-konfirmasi-reject-anggota-yes" class="button green uppercase btn-small">
               PROSES
            </button>
            <button class="button red uppercase btn-small btn-close-popup">
               BATAL
            </button>
        </div>
    </form>
</div>

<div id="popup-notif-confirmation-kick-anggota" class="custom-box travelo-box">
   <div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <span class="center-component loading-image"></span>
            <h6>
            <p id="confirmation-message-kick-anggota" class="description center-component">
            </p>
            </h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
            <button id="btn-konfirmasi-kick-anggota-yes" class="button green uppercase btn-small">
               PROSES
            </button>
            <button class="button red uppercase btn-small btn-close-popup">
               BATAL
            </button>
        </div>
    </form>
</div>

