<div id="popup-notif-confirmation-tinggalkan-perjalanan" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <span class="center-component loading-image"></span>
            <h6>
            <p id="confirmation-message-tinggalkan-perjalanan" class="description center-component">
            	Apakah kamu yakin meninggalkan perjalanan ini?
            </p>
            </h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-tinggalkan-perjalanan-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>
