<a href="#popup-notif-confirmation-post-perjalanan" id="popupbox-notif-confirmation-post-perjalanan" class="soap-popupbox"></a>
<a href="#popup-notif-post-perjalanan-link" id="popupbox-notif-post-perjalanan-link" class="soap-popupbox"></a>

<div id="popup-notif-confirmation-post-perjalanan" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">KONFIRMASI</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
            <span class="center-component loading-image"></span>
            <h6><p id="confirmation-message-post-perjalanan" class="description center-component"></p></h6>
        </div>
        <div class="form-group center-component" style="padding-top:50px;">
	         <button id="btn-konfirmasi-post-perjalanan-yes" class="button green uppercase btn-small">
	        		PROSES
	        	</button>
	        	<button class="button red uppercase btn-small btn-close-popup">
	        		BATAL
	        	</button>
        </div>
    </form>
</div>
<div id="popup-notif-post-perjalanan-link" class="custom-box travelo-box">
	<div class="alert alert-general dull-blue"><span class="center-component">LINK JALAN BARENG</span></div>
    <div class="seperator"></div>
    <form>
        <div class="form-group">
        		<label>Ini adalah link perjalanan kamu:</label>
        		<input type="text" id="message-post-perjalanan-link" class="full-width input-text margin-bottom15" />
        		<p>Kamu dapat membagikan link ini kepada siapapun yang ingin kamu ajak. Copy dan bagikan di media sosial manapun.
        		Kami juga telah mengirimkan link ini ke email yang kamu daftarkan. Selamat berpetualang!</p>
        </div>
        <!--div class="fb-share-button" data-href="https://www.ohmyguide.id/travel-partner" data-layout="button" data-size="large" data-mobile-iframe="true">
             <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
                Share
             </a>
        </div-->
        <div class="form-group center-component" style="padding-top:50px;">
	        	<button class="button green uppercase btn-small btn-close-popup">
	        		CLOSE
	        	</button>
        </div>
    </form>
</div>