<footer id="footer">
    <div class="footer-wrapper">
        <div class="container">
            <nav id="main-menu" role="navigation" class="inline-block hidden-mobile">
                <ul class="menu">
                    <li class="menu-item-has-children">
                        <a href="/">Home</a>
                    </li>
                </ul>
            </nav>
            <div class="copyright">
                <p>&copy; 2016 Travelo</p>
            </div>
        </div>
    </div>
</footer>