br { display: block; line-height: 1.6em; } 

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

p {
  font-size: 1.2em;
  line-height: 1.25em;
}

.chat-area p{
	margin-bottom: 6px;
}

.datestamp {
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
  color: #8b91a0;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.6);
}



/** ios1-ios6 bubbles **/
.bubble {
  box-sizing: border-box;
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
  
  background: #bee2ff;
 
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  margin-bottom: 20px;
  padding: 6px 20px;
  color: #000;
  word-wrap: break-word;
}

.bubble:before, .bubble:after {
  border-radius: 20px / 5px;
  content: '';
  display: block;
  position: absolute;
}
.bubble:before {
  border: 10px solid transparent;
  border-bottom-color: rgba(0,0,0,0.5);
  bottom: 0px;
  left: -7px;
  z-index: -2;
}
.bubble:after {
  border: 8px solid transparent;
  border-bottom-color: #bee2ff; /* arrow color */
  bottom: 1px;
  left: -5px;
}


.bubble-alt {
  float: right;
}
.bubble-alt:before {
  left: auto;
  right: -7px;
}
.bubble-alt:after {
  left: auto;
  right: -5px;
}

.bubble p {
  font-size: 1.1em;
}

.bubble p.username {
  font-size: 0.8em;
  font-weight: bold;;
}

/* green bubble */
.green {
  background: #d1ff83;
}
.green:after {
  border-bottom-color: #d1ff83;
}

/* white bubble */
.white {
  background: #e5e5e5;
}
.white:after {
  border-bottom-color: #e5e5e5;
}

/* yellow bubble */
.yellow {
  background: #fdb714;
}
.yellow:after {
  border-bottom-color: #fdb714;
}

/* red bubble */
.red {
  background: #e44049;
}
.red:after {
  border-bottom-color: #e44049;
}

/* pink bubble */
.pink {
  background: #db8df6;
}
.pink:after {
  border-bottom-color: #db8df6;
}

#chat-container{
	display: block;
   width: 100%;
   height: 500px;
   overflow: auto;
   position: static;
   margin-bottom: 20px;
   
   -webkit-border-radius: 15px 15px 15px 15px;
  	-moz-border-radius: 15px 15px 15px 15px;
  	border-radius: 15px 15px 15px 15px;
  	
  	background: white;
	margin:20px 0px 20px 0px;
	padding:20px 20px 20px 20px;
}

#chat-wrapper{
	display: table;
	table-layout: fixed;
   width: 100%;
   height: 450px;
}

.chat-area{
	display: table-cell;
   vertical-align: bottom;
}

section#content.custom {
    background: #dcdcdc;
}

.jln-brg-list-anggota p>span{
	font-size: 0.8em;
	font-weight: bold;
}
	
.jln-brg-list-anggota .btn-mini{
	margin-right: 5px;
}

.timestamp{
	margin-left: 50px;
}