<div id="travelo-login" class="travelo-login-box travelo-box">
	<div class="login-social">
		<div class="login-error center-component">
			<#if Session.SPRING_SECURITY_LAST_EXCEPTION?? && Session.SPRING_SECURITY_LAST_EXCEPTION.message?has_content>
		 		<span>
			 		Login kamu gagal
			 		<br>
			 		Reason: ${Session.SPRING_SECURITY_LAST_EXCEPTION.message}
		 	   </span>
		 	<#else>
		 		<span class="center-component">
		 		    Silahkan Login
		 		    <br>
		 		    Untuk Mengakses Akun Kamu.
		 		</span>
		 	</#if>
		</div>
	</div>
	<hr>
    <form id="formLogin" action="/process-login" method="POST" always-use-default-target="true">
        <div class="form-group">
            <input type="text" name="username" class="input-text full-width" placeholder="username"/>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="input-text full-width" placeholder="password"/>
        </div>
        <div class="form-group">
            <a href="#" class="forgot-password pull-right">Forgot password?</a>
            <div class="checkbox checkbox-inline">
                <label>
                    <input name="rememberMe" type="checkbox">Remember me</input>
                </label>
            </div>
        </div>
        <input type="hidden" name="${(_csrf.parameterName)!}" value="${(_csrf.token)!}"/>
        <button id="btn-login" type="submit" class="full-width btn-medium">LOGIN</button>
    </form>
    <div class="seperator"></div>
    <p>Belum punya akun ? <a href="#travelo-signup" class="goto-signup soap-popupbox">Daftar</a></p>
</div>